@import url(app.css);

.contact-container {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 40rem;
}

.apply-doctor {
  height: 90vh;
}

@media (max-width: 1000px) {
  .contact-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .contact-container {
    width: 60%;
  }
}

@media (max-width: 420px) {
  .contact-container {
    width: 90%;
  }
}

.form-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%; /* Adjusted width */
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
}

.form-input::placeholder {
  color: #aaa;
}

textarea.form-input {
  resize: vertical;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
